Repository MDSplus/mdsplus, pull requests merged in 2023-04, with the labels that each got.

#2522 Fix: null terminate truncated node names (2472)
  treeshr/TreeAddNode.c
  treeshr/TreeRenameNode.c
Labels: bug, core

#2484 Improved the setting of gains and offsets
  pydevices/HtsDevices/acq2106_435sc.py
  pydevices/HtsDevices/acq2106_435st.py
Labels: api/python, devices

#2477 In the 423/435 stream devices, dev.copy() was moved back to the main process.
  pydevices/HtsDevices/acq2106_423st.py
  pydevices/HtsDevices/acq2106_435st.py
Labels: do-not-build, api/python, devices
