Repository MDSplus/mdsplus, pull requests merged in 2025-05, with the labels that each got.

#2904 Fix:remove race conditions leading to deadlock
  java/jscope/src/main/java/mds/jscope/MdsWaveInterface.java
  java/jscope/src/main/java/mds/jscope/jScopeFacade.java
  java/jscope/src/main/java/mds/jscope/jScopeMultiWave.java
  java/jscope/src/main/java/mds/jscope/jScopeWaveContainer.java
  java/jscope/src/main/java/mds/provider/MdsDataProvider.java
  java/jscope/src/main/java/mds/wave/Grid.java
  java/jscope/src/main/java/mds/wave/Signal.java
  java/jscope/src/main/java/mds/wave/WaveInterface.java
  java/jscope/src/main/java/mds/wave/Waveform.java
  java/jscope/src/main/java/mds/wave/WaveformContainer.java
  java/mdsobjects/src/main/java/mds/connection/MdsConnection.java
  java/mdsobjects/src/main/java/mds/connection/MdsMessage.java
  java/mdsplus-api/src/main/java/mds/MdsMisc.java
  mdsmisc/ScopeUtilities.c
  mdsmisc/resample.c
  mdsmisc/step_resample.c
Labels: bug, api/java

#2908 Revert "Fix:remove race conditions leading to deadlock (#2904)" partial
  java/mdsobjects/src/main/java/mds/connection/MdsConnection.java
Labels: bug, api/java

#2645 Fix: mdsip services zombie processes
  pydevices/HtsDevices/acq2106_423st.py
  pydevices/HtsDevices/acq2106_435st.py
Labels: bug, devices

#2857 Feature: Add python copyTo method to Tree and TreeNode
  python/MDSplus/tree.py
Labels: feature, api/python

#2845 Improve Performance of Interpolate Function
  tdi/math/interpolate.fun
Labels: tool/tdi

#2531 Intel Fortran (ifort) errors because the boolean type doesn't match the prototype
  math/csint.f
  math/dcsint.f
Labels: bug, core

#2835 Fix: dispatching any action causes actmon/actlog to crash with SIGSEGV
  .gitignore
  actions/actlogp.h
  actions/actmon.c
  actions/testing/Makefile.am
  actions/testing/ServerShrTest.sh
  actions/testing/actlog.ans
  actions/testing/build_tree.tcl
  actions/testing/test_action.tcl
  configure.ac
  include/servershr.h
  servershr/Client.h
  servershr/Job.h
  servershr/ServerCreatePulse.c
  servershr/ServerDispatchAction.c
  servershr/ServerDispatchCommand.c
  servershr/ServerDispatchPhase.c
  servershr/ServerMonitorCheckin.c
  servershr/ServerQAction.c
  servershr/ServerSendMessage.c
  servershr/servershrp.h
  tcl/tcl_dispatch.c
  testing/Makefile.am
  testing/ports.csv
Labels: tool/actions
