Repository MDSplus/mdsplus, pull requests merged in 2025-01, with the labels that each got.

#2848 Fix: quiet python_module_remove.sh error
  rpm/python_module_remove.sh
Labels: packaging

#2850 Build: Add heidthecamp to the Jenkinsfile
  Jenkinsfile
Labels: build

#2851 Fix: the Fortran MacOS aliases now declare the remote calls
  mdslib/fortran_aliases_mac.h
Labels: bug, test, os/mac

#2853 Feature: Python API to return variable length NCIs
  python/MDSplus/tree.py
Labels: feature, api/python

#2849 Build: Update Linux dependencies
  deploy/packaging/linux.xml
  deploy/packaging/linux_build_packages.py
Labels: build, packaging
